.sliderPop {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2000;
  .warpper{
    
    overflow: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top:15px;
    height:100%;
    background-color: #fff;
    .sliderPop__header{
      padding:10px 24px 0;
      .closeBtn{
        width: 30px;
        height: 30px;
      }
    }
  }
}

.animation--up-enter {
  transform: translate3d(0,100%,0);
}

.animation--up-enter.animation--up-enter-active {
  transform: translate3d(0,0,0);
  transition: transform 300ms ease-out;
}

.animation--up-leave {
  transform: translate3d(0,0,0);
}

.animation--up-leave.animation--up-leave-active {
  transform: translate3d(0,100%,0);
  transition: transform 300ms ease-out;
}