.sliderPop .HotChannel{
  .header{
    padding: 0 24px;
    height:80px;
    .title{
      float: left;
      height:80px;
      line-height: 80px;
      .maintitle{
        font-size: 29px;
        margin-right:16px;
      }
      .subtitle{
        font-size: 24px;
        color: #8a8a8a;
      }
    }
  }
  .main{
    .channelList{
      overflow: hidden;
      padding-left:24px;
      .channelItem{
        float: left;
        margin: 0 24px 24px 0;
        height:70px;
        line-height: 70px;
        margin-bottom: 24px;
        width:157px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
      }
    }
  }
}