.index_header__search{

  position: relative;
  input {
    width: 620px;
    height: 60px;
    background-color: none;
    border:none;
    border-radius: 10px;
    text-indent: 2.5em;
  }
  &::before {
    position: absolute;
    top:16px;
    left:16px;
    width:30px;
    height:30px;
    display: block;
    content: '';
    background-image: url(./search.svg);
    background-size: 30px 30px;

  }
}