.index_header__SearchInfo .Guess .HideMain{
  height:80px;
  border-top:16px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a8a8a;
  svg{
    width:40px;
    height:440px;
  }
}